body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

:root {    
    --color-1: #212121;
    --color-2: #ffffff;
    --color-3: #2196F3;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header */
.header {
    background-color: var(--color-2);
}

.header-contact {
    font-style: normal;
    font-weight: 500;
    color: #757575;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

/* Hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--color-2);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*Buttons, links*/

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--color-1);
    text-decoration: none;
    letter-spacing: 0.02em;

}

.button {
    cursor: pointer;
    text-decoration: none;
}

.link:hover,
.link:focus,
.contact:hover,
.contact:focus {
    color: var(--color-3);
}

.button:hover,
.button:focus {
    color: var(--color-2);
    background-color: var(--color-3);
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
}

/* Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-1);
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--color-3);
}

.header-logo-studio {
    color: 000000;
}

.footer-logo-studio {
    color: var(--color-2);
}


/* Особливості */
.list {
    list-style: none;
}

.features-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* what we do + team*/

.title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}

.team {
    background-color: #F5F4FA;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team-desc {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Portfolio */

.item {
 background-color: var(--color-2);
}

.item-title {
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 color: var(--color-1);
 letter-spacing: 0.06em;
}

.item-desc {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer */
.footer {
    background-color: #2F303A;
}

.footer-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.postal-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-2);
}
